<div class="mt-16 hidden md:block">
    <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2">
            {{ asset('images/photo-coffee-on-a-table.jpg')|html(attributes={alt: 'Tasse de café sur une table'|trans, class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2">
            {{ asset('images/photo-person-coding-on-a-laptop.jpg')|html(attributes={alt: 'Personne développant sur un ordinateur portable'|trans, class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2">
            {{ asset('images/photo-person-filling-papers.jpg')|html(attributes={alt: 'Personne remplissant des papiers'|trans, class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2">
            {{ asset('images/photo-people-practising-aikido.jpg')|html(attributes={alt: 'Personnes pratiquant de l\'Aïkido'|trans, class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2">
            {{ asset('images/photo-stack-of-books.jpg')|html(attributes={alt: 'Une pile de livre'|trans, class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
        </div>
    </div>
</div>
