<div class="mt-16 sm:mt-20">
    <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2">
            {{ asset('images/photo-02.avif')|html({class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2">
            {{ asset('images/photo-01.avif')|html({class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2">
            {{ asset('images/photo-04.avif')|html({class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2">
            {{ asset('images/photo-06.avif')|html({class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}) }}
        </div>
        <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2">
            {{ asset('images/photo-05.avif')|html({class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}) }}
        </div>
    </div>
</div>
