<!DOCTYPE html>
<html lang="{{ site.language }}" class="antialiased">
<head>
    {{- include('_partials/metatags.html.twig', {
        stylesheets: [{
            style: 'styles/build.css',
            html_options: {}
        }, {
            style: 'styles/a11y-dark.min.css',
            html_options: {preload: true}
        }]
    }) -}}
</head>
<body class="relative flex flex-col min-h-screen bg-white text-gray-800 p-4">
    <header class="container max-w-7xl mx-auto py-4 flex justify-between items-center">
        <nav class="flex items-center space-x-4">
            <a aria-label="Home" class="text-2xl font-bold flex items-center gap-x-2 pointer-events-auto" href="{{ url('index') }}">
                <span class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-gray-800/5 ring-1 ring-gray-900/5 backdrop-blur">
                    {{ asset('images/avatar-white.jpg')|html(attributes={alt: 'Franck Matsos avatar'|trans, class: 'rounded-full bg-gray-100 object-cover h-9 w-9 text-transparent', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
                </span>
                <span class="transition hover:text-teal-500">{{ site.title }}</span>
            </a>
            <a class="h-6">🇫🇷</a>
        </nav>
        <nav class="hidden sm:block space-x-4 text-gray-600">
            {% for entry in site.menus.main|sort_by_weight %}
            <a href="{{ entry|url }}" data-weight="{{ entry.weight }}" class="transition hover:text-teal-500">
                {{ entry.name }}
            </a>
            {% endfor %}
        </nav>
    </header>

    <main class="flex-grow container max-w-5xl mx-auto">
        {% block content %}{% endblock %}
    </main>

    <footer class="container max-w-7xl mx-auto mt-16 py-4 border-t border-gray-200 text-gray-600">
        <div class="flex flex-wrap-reverse justify-between items-center sm:grid sm:grid-cols-2">
            <p class="flex items-center justify-start space-x-8">
                {% for entry in site.menus.main|sort_by_weight %}
                    <a href="{{ entry|url }}" data-weight="{{ entry.weight }}" class="transition hover:text-teal-500">
                        {{ entry.name }}
                    </a>
                {% endfor %}
            </p>
            <p class="flex items-center justify-end space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 inline-block" viewBox="0 0 30 30">
                    <path
                        d="M14.972 0c4.196 0 7.769 1.465 10.715 4.393A14.426 14.426 0 0 1 28.9 9.228C29.633 11.04 30 12.964 30 15c0 2.054-.363 3.978-1.085 5.772a13.77 13.77 0 0 1-3.2 4.754 15.417 15.417 0 0 1-4.983 3.322A14.932 14.932 0 0 1 14.973 30c-1.982 0-3.88-.38-5.692-1.14a15.087 15.087 0 0 1-4.875-3.293c-1.437-1.437-2.531-3.058-3.281-4.862A14.71 14.71 0 0 1 0 15c0-1.982.38-3.888 1.138-5.719a15.062 15.062 0 0 1 3.308-4.915C7.303 1.456 10.812 0 14.972 0zm.055 2.706c-3.429 0-6.313 1.196-8.652 3.589a12.896 12.896 0 0 0-2.72 4.031 11.814 11.814 0 0 0-.95 4.675c0 1.607.316 3.156.95 4.646a12.428 12.428 0 0 0 2.72 3.992 12.362 12.362 0 0 0 3.99 2.679c1.483.616 3.037.924 4.662.924 1.607 0 3.164-.312 4.675-.937a12.954 12.954 0 0 0 4.084-2.705c2.339-2.286 3.508-5.152 3.508-8.6 0-1.66-.304-3.231-.91-4.713a11.994 11.994 0 0 0-2.651-3.965c-2.412-2.41-5.314-3.616-8.706-3.616zm-.188 9.803-2.01 1.045c-.215-.445-.477-.758-.79-.937-.312-.178-.602-.268-.87-.268-1.34 0-2.01.884-2.01 2.652 0 .803.17 1.446.509 1.928.34.482.84.724 1.5.724.876 0 1.492-.43 1.85-1.286l1.847.937a4.407 4.407 0 0 1-1.634 1.728c-.696.42-1.464.63-2.303.63-1.34 0-2.42-.41-3.242-1.233-.821-.82-1.232-1.964-1.232-3.428 0-1.428.416-2.562 1.246-3.401.83-.84 1.879-1.26 3.147-1.26 1.858 0 3.188.723 3.992 2.17zm8.652 0-1.983 1.045c-.214-.445-.478-.758-.79-.937-.313-.178-.613-.268-.897-.268-1.34 0-2.01.884-2.01 2.652 0 .803.17 1.446.51 1.928.338.482.838.724 1.5.724.874 0 1.49-.43 1.847-1.286l1.875.937a4.606 4.606 0 0 1-1.66 1.728c-.696.42-1.455.63-2.277.63-1.357 0-2.441-.41-3.253-1.233-.814-.82-1.22-1.964-1.22-3.428 0-1.428.415-2.562 1.246-3.401.83-.84 1.879-1.26 3.147-1.26 1.857 0 3.18.723 3.965 2.17z"
                        fill="currentColor" id="cc-logo"></path>
                </svg>
                {% set currentYear = 'now'|date('Y') %}
                <span>{% if currentYear > 2024 %} - {{ currentYear }}{% endif %} Franck Matsos</span>
            </p>
        </div>
    </footer>

    {% if page.id in ['index', 'about', 'posts'] %}
    <div class="overlay"></div>
    {% endif %}
</body>
</html>
