{% extends '_default/page.html.twig' %}

{% set links = [
    {
        href: site.links.github,
        title: 'Suivre sur GitHub'|trans,
        picto: 'images/svg/github.path'
    },
    {
        href: site.links.linkedin,
        title: 'Suivre sur LinkedIn'|trans,
        picto: 'images/svg/linkedin.path'
    },

    {
        href: "mailto:{{site.contact}}",
        title: 'Demander une prestation'|trans,
        picto: 'images/svg/contact.path'
    }
] %}

{% block content %}
<div class="sm:px-8 mt-16">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
                    <div class="lg:pl-20">
                        <div class="max-w-xs px-2.5 lg:max-w-none">
                            {{ asset('images/about.jpg')|html({alt: 'Photo de Franck Matsos'|trans, class: 'aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800 transparent'}) }}
                        </div>
                    </div>
                    <div class="lg:order-first lg:row-span-2">
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
                            {{ page.page_title }}
                        </h1>
                        <div class="mt-6 prose dark:prose-invert">
                            {{ page.content }}
                        </div>
                    </div>
                    <div class="lg:pl-20">
                        <ul role="list">
                            {% for element in links %}
                            <li {% if loop.first == false %}class="mt-4"{% endif %}>
                                <a class="group flex text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500" href="{{ element.href }}">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-teal-500">
                                        {{ asset(element.picto)|inline }}
                                    </svg>
                                    <span class="ml-4">{{ element.title }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
